/* table.table-bordered.dataTable {
    border-collapse: separate !important
}

table.table-bordered thead td,
table.table-bordered thead th {
    border-left-width: 0;
    border-top-width: 0
}

table.table-bordered tbody td,
table.table-bordered tbody th {
    border-left-width: 0;
    border-bottom-width: 0
}

table.table-bordered td:last-child,
table.table-bordered th:last-child {
    border-right-width: 0
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
} 

.no-padding>.table-bordered,
.no-padding>.table-responsive>.table-bordered {
    border: none !important
}

.no-padding>.table-bordered tbody tr td:first-child,
.no-padding>.table-bordered thead tr td:first-child,
.no-padding>.table-bordered thead tr th:first-child,
.no-padding>.table-responsive>.table-bordered tbody tr td:first-child,
.no-padding>.table-responsive>.table-bordered thead tr td:first-child,
.no-padding>.table-responsive>.table-bordered thead tr th:first-child {
    border-left-width: 0 !important
}

.no-padding>.table-bordered tbody tr td:last-child,
.no-padding>.table-bordered thead tr th:last-child,
.no-padding>.table-responsive>.table-bordered tbody tr td:last-child,
.no-padding>.table-responsive>.table-bordered thead tr th:last-child {
    border-right-width: 0 !important
}

.no-padding>.table-bordered tbody tr:last-child td,
.no-padding>.table-responsive>.table-bordered tbody tr:last-child td {
    border-bottom-width: 0 !important
}
.smart-rtl .no-padding>.table-bordered tbody tr td:first-child,
.smart-rtl .no-padding>.table-bordered thead tr td:first-child,
.smart-rtl .no-padding>.table-bordered thead tr th:first-child,
.smart-rtl .no-padding>.table-responsive>.table-bordered tbody tr td:first-child,
.smart-rtl .no-padding>.table-responsive>.table-bordered thead tr td:first-child,
.smart-rtl .no-padding>.table-responsive>.table-bordered thead tr th:first-child {
    border-right-width: 0 !important;
    border-left-width: 1px !important
}